.topbar {
  height: 70px;
  padding: 0px;
  color: #333;
  border-bottom: 1px solid #ddd;
}
.page-title{
  font-size:14px;
}

.loader {
  border: 3px solid #ddd; 
  border-top: 3px solid #3a71ff; 
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 0.8s linear infinite;
}
.order_desk_cont{
  padding: 10px 15px;
}
.border_bottom{
  border-bottom: 1px solid #ddd;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #CDCDCD; 
    border: 1px solid #fdfdfd;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #CDCDCD; 
    border: 1px solid #fdfdfd;
}
textarea, input, input[type], .uneditable-input{   
    color: #333;
    background: #F5F5F5;
    border: 1px solid #e5e5e5;
}
textarea:hover, input:hover, input[type]:hover, .uneditable-input:hover {   
    border-color: #999;
    box-shadow: none;
    outline: 0 none;
    color: #222;
    cursor: default;
}
textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {   
    border-color: #333;
    box-shadow: none;
    outline: 0 none;
    color: #222;
    cursor: text;
}
input[type="number"]:disabled { 
    border: 1px solid #e5e5e5;
}
input[type=number] {
  /*for absolutely positioning spinners*/
  position: relative; 
  padding: 5px;
  padding-right: 30px;
  text-align: right;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 0.7;
}
input[type=number]::-webkit-outer-spin-button, 
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: inner-spin-button !important;
  width: 25px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
.input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: inherit;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0;
    background: #eee;
    border: 1px solid #e5e5e5;
}
.btn-default{
    border: 1px solid #ddd;
    background: #fff;
    color: #333;
    margin: 7px 0;
}
[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: none;
}
input[type="radio"]{
    visibility:hidden;
    margin-left: -15px;
}
.btn.active{
    background: #f4f4f4;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    color:#333;
}
.btn.active.red_bckgr{
  background: #F31B69;
  border: 1px solid #F31B69;
  color:#fff;
}
.btn.active.green_bckgr{
  background: #3A71FF;
  border: 1px solid #3A71FF;
  color:#fff;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #222;
    background-color: #F5F5F5;
    border-color: #ddd #ddd #F5F5F5;
    border-radius: 0;
}
.nav-tabs a {
  color: #555;
}
.btn_place_order{
  margin-top: 15px;
}
.nav-tabs {
    border-bottom: 1px solid #ddd;
}
.topsubbar{
  margin:0px 0px 0;
}
.bottomsubbar{
  border-top:1px solid #ddd;
}

.grid_block{
  background: #f8f8f8;
}

.left_border{
  border-left: 1px solid #ddd;
}

.right_border{
  border-left: 1px solid #ddd;
}

.workdesk{
  margin-top: -2px;
  background: #ddd;

}
.grid_block{
  padding: 0;
}
.grid_header{
  width: 100%;
  height: 27px;
  cursor: pointer;
  background: #eee;
  border-bottom: 1px solid #ddd;

}
.grid_title{
  padding: 5px 10px;
  font-size: 12px;
}
.grid_table_header table th{ 
  padding: 5px 10px;
}


.order_book{
  font-size: 11px;
  width: 100%;
}

.order_book tr{
  cursor: pointer;
}
.order_book tr.odd{
  background: #f1f1f1;
}

.order_book tr:hover{
  background: #eee;
}

.red_text{
  color:#F31B69;
  padding-left:7px;
}
.green_text{
  color:#3A71FF;
  padding-left:7px;
}
.spread_block{
  border-top: 1px solid #eee;

  font-size: 12px;
  padding: 1px;
  margin: 12px 0 10px 0px;
  background: #f8f8f8;
}
.order_book_container{
  padding-left: 10px;
  overflow-y: scroll;
}

.order_book_top, .order_book_bottom{
  height: calc(48%);
}

.trade_history{
  height: calc(100% - 5px);
}

.grid_content_order_book{
  height: calc(100% - 60px);
  overflow: hidden;
}

.grid_content_getstarted{
  height: calc(100%);
  overflow: hidden;
}

.grid_block{

  overflow: hidden;
  height: 100%;
  box-sizing: border-box;
}

.userDeskNav {
  margin-top: -1px;
  margin-left: -1px;
}

.userDeskNav .nav-link {
    display: block;
    padding-top: 4px;
    padding-bottom: 3px;
}
.userDeskNav .nav-link:hover {
    background-color: #ddd;
    border-color: #ddd #ddd #ddd;

}

.userDeskNav .nav-link.active {

    background-color: #f8f8f8;
    border-color: #ddd #ddd #f8f8f8;

}