body .theme-light {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #F5F5F5;
  font-size: 12px;
}
.theme-light .topbar {
  height: 70px;
  padding: 0px;
  color: #333;
  border-bottom: 1px solid #ddd;
}
.theme-light .loader {
  border: 3px solid #ddd; 
  border-top: 3px solid #3a71ff; 
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 0.8s linear infinite;
}
.theme-light .border_bottom{
  border-bottom: 1px solid #ddd;
}
.theme-light textarea, input, .theme-light input[type], .theme-light .uneditable-input{   
    color: #333;
    background: #fff;
    border: 1px solid #ddd;
}
.theme-light textarea:hover, .theme-light input:hover, .theme-light input[type]:hover, .theme-light .uneditable-input:hover {   
    border-color: #999;
    box-shadow: none;
    outline: 0 none;
    color: #222;
    cursor: default;
}
.theme-light textarea:focus, .theme-light input:focus, .theme-light input[type]:focus, .theme-light .uneditable-input:focus {   
    border-color: #333;
    box-shadow: none;
    outline: 0 none;
    color: #222;
    cursor: text;
}
.theme-light input[type="number"]:disabled { 
    border: 1px solid #e5e5e5;
}
.theme-light input[type=number] {
  /*for absolutely positioning spinners*/
  position: relative; 
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 30px;
  text-align: right;
}
.theme-light input[type=number]::-webkit-inner-spin-button,
.theme-light input[type=number]::-webkit-outer-spin-button {
  opacity: 0.7;
}
.theme-light input[type=number]::-webkit-outer-spin-button, 
.theme-light input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: inner-spin-button !important;
  width: 25px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* width */
.theme-light ::-webkit-scrollbar {
    width:5px;
    height:5px;
}

/* Track */
.theme-light ::-webkit-scrollbar-track {
    background: transparent; 
}
 
/* Handle */
.theme-light ::-webkit-scrollbar-thumb {
    background: #CDCDCD; 
    border-radius: 5px;
}
/* Handle on hover */
.theme-light ::-webkit-scrollbar-thumb:hover {
    background: #CDCDCD; 
}
.theme-light .input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: inherit;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0;
    background: #eee;
    border: 1px solid #e5e5e5;
}
.theme-light .btn-default{
    border: 1px solid #ddd;
    background: #fff;
    color: #333;
    margin: 7px 0;
}
.theme-light .btn.active{
    background: #f4f4f4;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    color:#333;
}
.theme-light .btn.active.red_bckgr{
  background: #ff3333;
  border: 1px solid #ff3333;
  color:#fff;
}
.theme-light .btn.active.green_bckgr{
  background: #3A71FF;
  border: 1px solid #3A71FF;
  color:#fff;
}
.theme-light .nav-tabs .nav-item.show .nav-link, .theme-light .nav-tabs .nav-link.active {
    color: #222;
    background-color: #F5F5F5;
    border-color: #ddd #ddd #F5F5F5;
    border-radius: 0;

}
.theme-light .nav-tabs a {
  color: #555;
}
.theme-light .nav-tabs {
    border-bottom: 1px solid #ddd;
}
.theme-light .bottomsubbar{
  border-top:1px solid #ddd;
  padding-top: 5px;
  font-size: 11px;
}
.theme-light .bottomsubbar a{
  color:#222;
}
.theme-light .grid_block{
  background: #f8f8f8;
}
.theme-light .left_border{
  border-left: 1px solid #ddd;
}
.theme-light .right_border{
  border-right: 1px solid #ddd;
}
.theme-light .top_border{
  border-top: 1px solid #ddd;
}
.theme-light .bottom_border{
  border-bottom: 1px solid #ddd;
}
.theme-light .bottom_border_light{
  border-bottom: 1px solid #eee;
}
.theme-light .workdesk{
  margin-top: -2px;
  background: #ddd;
}
.theme-light .grid_header{
  width: 100%;
  height: 27px;
  cursor: pointer;
  background: #eee;
  border-bottom: 1px solid #ddd;
}
.theme-light .table_list tr.odd{
  background: #f1f1f1;
  border-left: 1px solid transparent;
}
.theme-light .table_list tr.even{
  border-left: 1px solid transparent;
}
.theme-light .table_list tr:hover{
  background: #eee;
}
.theme-light .red_text{
  color:#ff3333;
}
.theme-light .green_text{
  color:#3A71FF;
}
.theme-light .spread_block{
  border-top: 1px solid #eee;
  font-size: 12px;
  padding: 1px;
  margin: 12px 0 10px 0px;
  background: #f8f8f8;
}
.theme-light .userDeskNav .nav-link:hover, .userDeskNav .nav-link.active {
    background-color: #ddd;
    border-color: #ddd #ddd #ddd;
    font-weight: bold;
}
.theme-light .userDeskNav .nav-link.active {
    background-color: #f8f8f8;
    border-color: #ddd #ddd #f8f8f8;
}
.theme-light .table_list .table_header, .table_list .table_header:hover{
  background: #f8f8f8;
  border-bottom: 1px solid #ddd;
}
.theme-light .sm_btn {
    background: #3a71ff;
    border: 1px solid #3a71ff;
    color: #fff;
    padding: 0 15px;
}
.theme-light .sm_btn_top {
    background: #3a71ff;
    border: 1px solid #3a71ff;
    color: #fff;
    padding: 3px 7px 2px;
    margin-right: -13px;
    margin-top: -3px;
    font-size: 12px;
}
.theme-light .toggle + .toggle-button {
  outline: 0;
  display: inline-block;
  width: 30px;
  height: 10px;
  position: relative;
  cursor: pointer;
  border: 1px solid #333;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.theme-light .toggle + .toggle-button {
  padding: 2px;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 2em;
}
.theme-light .toggle + .toggle-button:after {
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
  background: #333;
  content: "";
  border-radius: 1em;
}
.theme-light .toggle:checked + .toggle-button:after {
  left: 50%;
}
.theme-light .table_list .theme-light .selected_red {
  border-left: 1px solid #ff3333 !important; 
  box-sizing: border-box;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
.theme-light .table_list .theme-light .selected_green {
  border-left: 1px solid #3A71FF !important; 
  box-sizing: border-box;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
.theme-light .owner, .theme-light .owner:hover{
  background: #ddd !important;
  color:#999;
  cursor: default;
}
.theme-light .grid_subtitle_title{
  height: 30px;
  border-bottom: 1px solid #ddd; 
}
.theme-light .chart_content{
  background: #fcfcfc;
}
.top_menu a, .top_menu div{
  color: #222;
}
.theme-light .countdown{
  font-size: 40px;
  color:#333;
}
.theme-light .tools_title{
  font-size: 13px;
  color: #3a71ff;
}
.theme-light .list-group-item {
  color: #333;
    position: relative;
    display: block;
    padding: .75rem 15px;
    margin-bottom: -1px;
    background-color: transparent;
    border-top: 1px solid #ddd;
    cursor: pointer !important;
}
.theme-light .list-group-item:hover {
  background-color: #eee;
}
.theme-light .progress {
    margin-top: 10px;
    display: flex;
    height: 3px;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: 1px;
}
.theme-light .proposal_cont{
  background: #fcfcfc;
  padding: 15px 35px;
}
.theme-light .wallet_cont{
  background: #fcfcfc;
}
.theme-light .proposal_block{
    margin-top:20px;
    margin-bottom:20px;

    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}
.theme-light .proposal_container .selected{
  background: #fcfcfc;
  cursor:default !important;
}
.theme-light .title_large{
  font-size: 24px;
  color: #3a71ff;
}
.theme-light .sm_btn_tools {
    background: #3a71ff;
    border: 1px solid #3a71ff;
    color: #fff;
    padding: 3px 7px 2px;
    font-size: 12px;
    min-width: 70px;
}
.theme-light .sm_btn_tools_light {
    background: transparent;
    border: 1px solid #3a71ff;
    color: #3a71ff;
    padding: 3px 7px 2px;
    font-size: 12px;
    min-width: 70px;
}
.theme-light .wallet_digit_large{
  color: #3a71ff;
  font-size: 18px;
}
.theme-light .info_row_tools{
  border-bottom: 1px solid #ddd;

}
.theme-light .sm_btn_tools_light:disabled,
.theme-light .sm_btn_tools_light[disabled]{
  border: 1px solid #99b6ff;
  color: #99b6ff;
}
.theme-light .sm_btn_tools:disabled,
.theme-light .sm_btn_tools[disabled]{
  border: 1px solid #99b6ff;
  background: #99b6ff;
  color: #fff;
}
.theme-light .tools_addr_user, .theme-light .tools_addr_user:hover, .theme-light .tools_addr_user:active  {
  color: #333;
}
.theme-light .lightcolor{
  color:#ccc;
}
.theme-light .sale_countdown{
  background: #fff;
}
.theme-light .countdown_price{
  color: #3a71ff;
}
.theme-light .tools_item:hover{
  background: #eee;
}
.theme-light .sale_closed{
  color: #ff3333;
}
.theme-light .active_tool, .theme-light .active_tool:hover{
  background: #fff;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  cursor: default;
}
.theme-light .usd_bottom{
  color: #999;
}
.theme-light .getstarted_title{
  margin:20px 0 10px 25px;
  font-weight: normal;
  font-size: 18px;
  color: #3A71FF;
}

.theme-light #icon {
  position: relative;
  width: 12px;
  height: 12px;
  top: -8px;
  margin: 0 7px;
  fill: #333;
}