.wrapper{
  min-width: 1028px;
}
.topbar {
  height: 70px;
  padding: 0px;
  color: #333;
  border-bottom: 1px solid #ddd;
}
.page-title{
  font-size:14px;
}
.loader {
  border: 3px solid #ddd; 
  border-top: 3px solid #3a71ff; 
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 0.8s linear infinite;
}
.order_desk_cont{
  padding: 10px 15px;
}
.border_bottom{
  border-bottom: 1px solid #ddd;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* width */
::-webkit-scrollbar {
    width:5px;
    height:5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #CDCDCD; 
    border-radius: 5px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #CDCDCD; 
}
textarea, input, input[type], .uneditable-input{   
    color: #333;
    background: #fff;
    border: 1px solid #ddd;
}
textarea:hover, input:hover, input[type]:hover, .uneditable-input:hover {   
    border-color: #999;
    box-shadow: none;
    outline: 0 none;
    color: #222;
    cursor: default;
}
textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {   
    border-color: #333;
    box-shadow: none;
    outline: 0 none;
    color: #222;
    cursor: text;
}
input[type="number"]:disabled { 
    border: 1px solid #e5e5e5;
}
input[type=number] {
  /*for absolutely positioning spinners*/
  position: relative; 
  padding: 5px;
  padding-right: 30px;
  text-align: right;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 0.7;
}
input[type=number]::-webkit-outer-spin-button, 
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: inner-spin-button !important;
  width: 25px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
.input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: inherit;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0;
    background: #eee;
    border: 1px solid #e5e5e5;
}
.btn-default{
    border: 1px solid #ddd;
    background: #fff;
    color: #333;
    margin: 7px 0;
}
[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: none;
}
input[type="radio"]{
    visibility:hidden;
    margin-left: -15px;
}
.btn.active{
    background: #f4f4f4;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    color:#333;
}
.btn.active.red_bckgr{
  background: #F31B69;
  border: 1px solid #F31B69;
  color:#fff;
}
.btn.active.green_bckgr{
  background: #3A71FF;
  border: 1px solid #3A71FF;
  color:#fff;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #222;
    background-color: #F5F5F5;
    border-color: #ddd #ddd #F5F5F5;
    border-radius: 0;

}
.nav-tabs a {
  color: #555;
}
.btn_place_order{
  margin-top: 15px;
}
.nav-tabs {
    border-bottom: 1px solid #ddd;
}
.topsubbar{
  margin:0px 0px 0;
}
.bottomsubbar{
  border-top:1px solid #ddd;
}
.grid_block{
  background: #f8f8f8;
}
.left_border{
  border-left: 1px solid #ddd;
}
.right_border{
  border-left: 1px solid #ddd;
}
.workdesk{
  margin-top: -2px;
  background: #ddd;
}
.grid_block{
  padding: 0;
}
.grid_header{
  width: 100%;
  height: 27px;
  cursor: pointer;
  background: #eee;
  border-bottom: 1px solid #ddd;
}
.grid_title{
  padding: 5px 10px;
  font-size: 12px;
}
.table_list tr{
  cursor: pointer;
}
.table_list tr.odd{
  background: #f1f1f1;
}

.table_list tr:hover{
  background: #eee;
}
.red_text{
  color:#F31B69;
}
.green_text{
  color:#3A71FF;
}
.spread_block{
  border-top: 1px solid #eee;
  font-size: 12px;
  padding: 1px;
  margin: 12px 0 10px 0px;
  background: #f8f8f8;
}
.order_book_container{
  overflow-y: scroll;
  overflow-x: hidden;
}
.order_book_top, .order_book_bottom{
  height: calc(48%);
}
.trade_history{
  height: calc(100% - 5px);
}
.grid_content{
  height: calc(100% - 60px);
  overflow: auto;
}
.grid_content_order_book, .grid_block{
  height: calc(100% - 60px);
  overflow: hidden;
}
.grid_content_getstarted{
  height: calc(100%);
  overflow: hidden;
}
.grid_block{
  overflow: hidden;
  height: 100%;
  box-sizing: border-box;
}
.userDeskNav {
  margin-top: -1px;
  margin-left: -1px;
}

.userDeskNav .nav-link {
    display: block;
    padding-top: 4px;
    padding-bottom: 3px;
}
.userDeskNav .nav-link:hover, .userDeskNav .nav-link.active {
    background-color: #ddd;
    border-color: #ddd #ddd #ddd;
    font-weight: normal;
}
.userDeskNav .nav-link.active {
    background-color: #f8f8f8;
    border-color: #ddd #ddd #f8f8f8;
}
.table_list{
  margin-left: 0px;
  width: calc(100% - 0px);
  font-size: 11px;
}
.table_list th, .table_list td{
  padding-left: 10px;
  padding-right: 10px;
}
.table_list th{
  padding-top: 5px;
  padding-bottom: 5px;
}
.table_list .table_header, .table_list .table_header:hover{
  background: #f8f8f8;
  border-bottom: 1px solid #eee;
}
.sm_btn {
    background: #3a71ff;
    border: 1px solid #3a71ff;
    color: #fff;
    padding: 0 15px;
}

.left_topbar{
  width:100px;
}



/* Day Night Toggle. Created By Joseph Shenton @TeamiHackify */

.button-con {
  cursor: default;
  position: absolute;
  top: 50%;
  margin-top: -4px;
}

#icon {
  position: relative;
  width: 12px;
  height: 12px;
  top: -8px;
  margin: 0 7px;
  fill: #333;
}

#dayIcon, #nightIcon {
  cursor: pointer;
}

.toggle {
  display: none;
}

.toggle, .toggle:after, .toggle:before, .toggle *, .toggle *:after, .toggle *:before, .toggle + .toggle-button {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.toggle::-moz-selection, .toggle:after::-moz-selection, .toggle:before::-moz-selection, .toggle *::-moz-selection, .toggle *:after::-moz-selection, .toggle *:before::-moz-selection, .toggle + .toggle-button::-moz-selection {
  background: none;
}

.toggle::selection, .toggle:after::selection, .toggle:before::selection, .toggle *::selection, .toggle *:after::selection, .toggle *:before::selection, .toggle + .toggle-button::selection {
  background: none;
}

.toggle + .toggle-button {
  outline: 0;
  display: inline-block;
  width: 30px;
  height: 10px;
  position: relative;
  cursor: pointer;
  border: 1px solid #333;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.toggle + .toggle-button:after, .toggle + .toggle-button:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}

.toggle + .toggle-button:after {
  left: 0;
}

.toggle + .toggle-button:before {
  display: none;
}

.toggle:checked + .toggle-button:after {
  left: 50%;
}

.toggle + .toggle-button {
  padding: 2px;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 2em;
}

.toggle + .toggle-button:after {
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
  background: #333;
  content: "";
  border-radius: 1em;
}

.toggle:checked + .toggle-button:after {
  left: 50%;
}
