html {
 overflow-x: hidden;
}

label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 11px;
}
.form-control {
	border-radius: 0px;
	font-size: 14px;
}
.order_desk_form{
	width:100%;
 	max-width: 100%; 	
}
.container{
	margin: 0;
	width: 100%;
	max-width: 100%;
}
.load{
	position: absolute;
	top: 50%;
	left: 50%;
}
.left_side, .right_side{
	height: 100%;
	overflow-y: auto;	
}
.left_side_container{
	width: 400px;
	float: left;
}
.right_side_container{
	width: calc(100% - 400px);
	float: left;
}

.info_row{
	width: 100%;
}
.info_row_tools{
	font-size: 13px;
	padding:5px 15px;
}
.info_row_tools_label{
	min-width:250px;
}
.btn-group{
	width: 100%;
}
.btn{
	font-size: 14px;
	border-radius: 0;
}
.limit_market .nav-item{
	width: 50%;
	text-align: center;
}
.limit_market{
	margin-left: -16px;
	margin-right: -16px;
}
.nav{
	margin-bottom: -1px;
}
.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding-left: 15px;
    padding-right: 15px;

}
.nav-link {
    display: block;
    padding: .3rem ;
}
.nav-link.active{
	font-weight: bold;
}

.contractsmenu{
	margin-top: 10px;
}
.top_menu{
	padding-top: 10px;
	float: right;
	padding-left: 15px;
	padding-right: 15px;
	cursor: pointer;
}
.top_menu:hover{
	text-decoration: underline;
}

.modal-title{
	font-size: 18px;
}

.modal-body input{
	text-align: left;
}
.form-group input {
    font-size: 14px;
}
.bold{
	font-weight: bold;
}

#type, .grid_content label {
    display: none;
}
.tools_header{
	font-size: 16px;
	padding-top: 8px;
}
.no_padding{
	padding: 0;
}
.text_right{
  text-align: right;
}
.form_block{
  margin-top: 1rem;
}
.float_rigth{
	float: right;
}.float_left{
	float: left;
}
.wallet_margin_top{
	margin-top: 10px;
}
.wallet_top {
    padding: 30px 30px 40px;
}
.tools_data {
    padding: 30px 30px 0;
}

.wallet_row{
  padding:  30px 30px;
}

.proposal_list, .proposal_cont, .sale_chart{
	height: 100%;
}

#child{
	padding: 30px;
}
.href{
	cursor: pointer;
}
.href:hover{
	text-decoration: underline;
}
#parent {display: table; height: 100%; width: 100%;}

#child {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.text_large{
 	font-size: 18px;
}
.proposal_container{
 	height: calc(100% - 69px);
 	overflow-y: auto;
}
.nopadding{
 	padding: 0;
}
.margin_top{
 	margin-top: 20px; 
} 
.margin_left{
 	margin-left: 30px; 
} 

.margin_bottom{
 	margin-bottom: 20px; 
}
.padding_bottom{
 	padding-bottom: 20px; 
}
.badge{
 	border-radius: 0;
 	padding: 2px .4em 3px;
}
.chart_sale_price{
 	margin-top: -190px;
}
.tools_changes_proposals, .sale_countdown{
  height: 100%;
}
.chart_sale_price > div > label{
	display: none;
}
.chart_sale_price_top{
	height: 190px;
	padding: 40px 30px;

}
.sale_countdown{
	padding: 15px 15px 30px;
}

.token_sale_row{
  padding:  30px 30px;
}

.countdown_block{
	height: calc(100% - 221px) ;
}
.countdown_price, .sale_closed{
	margin-top: 50px;
	font-size: 20px;
	margin-bottom: 30px;
}
.buy_token_btn{
	margin-top: 30px;
	padding: 1rem 2rem;
	margin-right:2rem;
}
.tools_item{
	padding: 15px 15px;
	font-size: 13px;
	cursor: pointer;
}
.chart_text{
	margin-top: 10px;
}
.modal_descr{
		margin: 0px 0px 20px;
}
.my-3{
	clear: both;
}
.modal_inp{
	margin-bottom: 10px;
}
.proposal_tabs{
  width: calc(100% + 1px);
  margin-top: -1px;
  margin-left: -1px;
}
.add_btn{
  text-align: right;
  padding: 10px 10px;
}
.back_btn{
  padding: 10px 0px 10px 14px;
}
.title_proposal{
  font-size: 14px;
  font-weight: bold;
}
.proposal_container{
  padding: 0;
}


.item_list{
	height: 100%;
	padding: 0;
}
.about_list{
  height: 100%;
}


.getstarted{
  height: calc(100% - 27px);
  font-size: 12px;
  padding-right: 30px;

}


.get_started_list{
	margin-bottom: 0;
	line-height: 21px;
}
.page-title{
  font-size:14px;
}
.order_desk_cont{
  padding: 10px 15px;
}


[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: none;
}
input[type="radio"]{
    visibility:hidden;
    margin-left: -15px;
}
.btn_place_order{
  margin-top: 15px;
}
.topsubbar{
  height: 38.59px;
  margin:0px 0px 0;
}
.topsubbar .contractsmenu{
  margin-left:-15px;
}
.grid_block{
  padding: 0;
}

.grid_title{
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
}
.table_list tr{
  cursor: pointer;
}
.order_book_container{
  overflow-y: scroll;
  overflow-x: hidden;
}
.order_book_top, .order_book_bottom{
  height: calc(47%);
}
.trade_history{
  height: calc(100% - 8px);
}
.grid_content{
  height: calc(100% - 57px);
  overflow: auto;
}
.grid_content_order_book, .grid_block{
  height: calc(100% - 60px);
  overflow: hidden;
}
.grid_content_getstarted{
  height: calc(100%);
  overflow: hidden;
}
.grid_block{
  overflow: hidden;
  height: 100%;
  box-sizing: border-box;
}
.userDeskNav {
  margin-top: -1px;
  margin-left: -1px;
}

.userDeskNav .nav-link {
    display: block;
    padding-top: 4px;
    padding-bottom: 3px;
    font-weight: bold;
}
.table_list{
  margin-left: 0px;
  width: calc(100% - 0px);
  font-size: 11px;
}
.table_list th, .table_list td{
  padding-left: 10px;
  padding-right: 10px;
}
.table_list th{
  padding-top: 7px;
  padding-bottom: 6px;
}
.left_topbar{
  width:100px;
}

/* Day Night Toggle. Created By Joseph Shenton @TeamiHackify */

.button-con {
  cursor: default;
  position: absolute;
  top: 50%;
  margin-top: -4px;
}




#dayIcon, #nightIcon {
  cursor: pointer;
}

.toggle {
  display: none;
}

.toggle, .toggle:after, .toggle:before, .toggle *, .toggle *:after, .toggle *:before, .toggle + .toggle-button {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.toggle::-moz-selection, .toggle:after::-moz-selection, .toggle:before::-moz-selection, .toggle *::-moz-selection, .toggle *:after::-moz-selection, .toggle *:before::-moz-selection, .toggle + .toggle-button::-moz-selection {
  background: none;
}

.toggle::selection, .toggle:after::selection, .toggle:before::selection, .toggle *::selection, .toggle *:after::selection, .toggle *:before::selection, .toggle + .toggle-button::selection {
  background: none;
}

.toggle + .toggle-button:after, .toggle + .toggle-button:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}

.toggle + .toggle-button:after {
  left: 0;
}

.toggle + .toggle-button:before {
  display: none;
}

.toggle:checked + .toggle-button:after {
  left: 50%;
}
.subtitle_block{
  height: 30px;
  padding: 6px 10px 0;
  font-size: 11px;
  font-weight:bold;
}
.table_header th{
  font-weight:normal;
}
.subheader_right{
  text-align: right;
}
.logo{
  margin-top: 29px;
  width: 97%;
  max-width:  190px;
}
.top_chart_cont{
  height: 200px;
}
.countdown_small{
  font-size: 12px;
  padding-right: 20px;
  padding-left: 3px;
}
.title_proposal_big {
  font-size: 20px;
  font-weight: normal;
  padding-top: 20px;
  padding-bottom: 20px;

}

.progress_big{
    margin-bottom:20px;
    height:10px;
    margin-top:1px;
}
.vote_button{
  margin: 20px 5px;
  padding-left: 40px;
  padding-right: 40px;
}
.stake_big_btn{
  margin:0;
  float: right;
}
.margin_right_btn{
  margin: 18px 0 0px 10px;
}
.user_vote{
  font-size: 18px;
}
.voting_result{
  font-size: 16px;
}
.tools_item{
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  margin-top: -1px;
}
.buy_token_inp{
  margin-top: 30px;
  padding: 1rem 1rem;
  height: 55px;

}
.form-text{
	font-size: 12px;
}