body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: #F5F5F5;
	font-size: 12px;
}
label {
    display: inline-block;
    margin-bottom: 2px;
    font-weight: bold;
    font-size: 11px;
}
.form-control {
	border-radius: 0px;
	font-size: 14px;
}
.order_desk_form{
	width:100%;
 	max-width: 100%; 	
}
.container{
	margin: 0;
	width: 100%;
	max-width: 100%;
}
.load{
	position: absolute;
	top: 50%;
	left: 50%;
}
.left_side, .right_side{
	height: 100%;
	overflow-y: auto;	
}
.info_row{

	width: 100%;
}
.btn-group{
	width: 100%;
}
.btn{
	font-size: 14px;
	border-radius: 0;
}
.limit_market .nav-item{
	width: 50%;
	text-align: center;
}
.limit_market{
	margin-left: -15px;
	margin-right: -15px;
}
.nav{
	margin-bottom: -1px;
}
.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding-left: 15px;
    padding-right: 15px;

}
.nav-link {
    display: block;
    padding: .3rem ;
}
.nav-link.active{
	font-weight: bold;
}

.contractsmenu{
	margin-top: 10px;
}

